
/*This is a comment*/

body {
  background-color: lightblue;
}
.main-wrapper {
  color: red;
  font-size: 20px;
  border: 3px dotted red;
}

#first {
  color: green;
}
#second {
  font-style: italic;
  font-size:40px;
  color: rgb(0, 153, 255);  
}
#third {
  cursor: help;
}